node_modules/
.
data/raw/
__pycache__/
*.pyc
.venv/
venv/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/data
/data/*
!/data/package.json
!/data/package-lock.json
!/data/tsconfig.json
!/data/compose.yaml
!/data/README.md
!/data/requirements-geo.txt
!/data/migrations/
!/data/extractions/
!/data/src/
!/data/test/
